.list{
    width: 80%;
    margin: auto;
    margin-top: 2em;

}

.card{
    border: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9.5em, 1fr));
    gap:4.5em;
    margin-top: 2em;
    background-color: rgb(22, 25, 37)
}
